<!--  $Id: About_acedb.html,v 1.4 1999/04/29 16:56:48 fw Exp $  -->
<head>
<title>about Acedb</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>about Acedb</h2>


Acedb is a genome database system developed over the last 7 years
primarily by Jean Thierry-Mieg  (CNRS, Montpellier) and 
Richard Durbin  (Sanger Centre).  It provides a custom database 
kernel, with a non-standard data model designed specifically for 
handling scientific data flexibly, and a graphical user interface 
with many specific displays and tools for genomic data.  <P>

Acedb is used both for managing data within genome
projects, and for making genomic data available to the wider
scientific community.<P>

Acedb was originally developed for the C.elegans genome project,
from which its name was derived (A C. elegans DataBase).  
However, the tools in it have been generalized to be much
more flexible and the same software is now used for many different
genomic databases from bacteria to fungi to plants to man. 
It is also increasingly used for databases with non-biological content.<P>


to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
