<!--  $Id: Biblio.html,v 1.4 1999/04/29 16:16:30 fw Exp $  -->
<head>
<title>Biblio Display</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>ACeDB Biblio Display</h2>
<em>Help page written by Martin Aslett, August 1997</em>

<P>The Biblio display in ACeDB allows the user to view the associated
bibliographic details of either a complete KeySet or individual data
item in a format suitable for importing into the bibliography of a
paper.

<P>To access the display from the KeySet window (and consequently view
the Bibliography for the entire KeySet), simply click the 'Biblio'
button in the top line of the display (this button won't appear in
KeySets with no associated bibliography).

<P>To access the display for an individual data object, choose the
'Biblio' option from the pulldown menu on the object's text
display. If the object has no associated bibliography, an error
message 'Sorry, no associated bibliography' will appear.


<P>The buttons at the top of the display and pull down menu options on
the Biblio display have the following functions :-

<P><B>Quit</B> - Quits the Biblio window.
<BR><B>Abstract on/off</B> - Toggles displaying of the abstracts of all papers (when available) within the Biblio display.
<BR><B>Print</B> - Calls up the ACeDB Print window, allowing the user to print the bibliography or save it to a file or mail a copy of the bibliography.
<BR><B>Sort by author</B> - Allows the user to sort the bibliography alphabetically by first author name.
<BR><B>Renumber 1 ... n</B> - If a user has edited a bibliography using the 'Discard' button or has used the 'Sort by author' function, this option automatically renumbers the bibliography.
<BR><B>Sort by number</B> - Reverses the 'Sort by author' function and sorts the bibliography numerically. Initial numbering is based upon alphabetical ordering of the Paper object names.
<BR><B>UnDiscard</B> - Reinstates the most recently Discarded paper to the bibliography. Successive clicks on this button will reinstate earlier discards.
<BR><B>New numbers</B> - Allows the user to manually edit the numbering to whatever configuration is desired. The button brings up a text entry box alongside each entry in the bibliography, allowing the number to be edited.

<BR><B>Format</B> - Brings up an extra set of buttons which the user
may click to choose the journal for which the bibliography should be
formatted. There are currently two options, the default Normal and
Cell.<P>

The <B>Topic</B> text box allows the user to edit the title to be given to the bibliography.<P>

Clicking on any individual paper in the bibliography will bring up a
text display of its full details. The buttons found alongside each
paper in the bibliography have the following functions :-

<P><B>Discard</B> - Removes a paper from the bibliography.
<BR><B>Abstract on/Abstract off</B> - Only present if the database
contains the paper's abstract. Toggles displaying of the individual
paper's abstract within the bibliography.


to <a href="TOC.html">Table of Contents</a><p>

last edited: Septembre 1997<p>

</BODY>
