<!--  $Id: Chromosome-map.html,v 1.4 1999/04/29 16:16:31 fw Exp $  -->
<head>
<title>Chromosome-map</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Chromosome-map</h2>
		
This display represent the the Chromosome in physical units.<p>

The little squares are clones. You must import them from a <A
HREF="KeySet.html">keyset</a> using the menu. You can import anything
whose position is known in physical units such as clones, cDNA, cloned
genes, etc.<p>

<h3>Menu items:</h3>

<ul>


<li><strong>Quit</strong>: destroys this window.

<li><strong>Help</strong>: displays this help page.

<li><strong>Print</strong>: prepares a Post Script file pmapxxx.PS in
./PS You can then print it on your local laser printer.

<li><strong>Preserve</strong>: insure that the next gmap will be
displayed in a different window, otherwise the present one will be
reused.

</ul>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
