<!--  $Id: Clone-types.html,v 1.5 1999/04/29 16:16:35 fw Exp $  -->
<head>
<title>Clone-types</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Clone-types</h2>

Clone types in the physical map of <var>Caenorhabditis elegans</var>.<p>

Most clones are defined by their initial letter(s), according to
the table below.<p>

The principal exceptions are:<p>

<ul>
<li>Clones given laboratory designations (2 letters followed by #)
<li> MIT clones, which have 1, 2 or 3 identical letters, followed by 
       any letter from A to H, followed by a number from 1 to 12.  Vector 
       is pHC79.
</ul>

<pre>
Clone		Vector:
 name:

  A		Lambda 2001  Sau3AI partial
 ZL		Lambda 2001  Sau3AI partial   probed
YSL		Lambda 2001  YAC subclones, Sau3AI partial


  B		pJB8	serial  Sau3AI partial
  C		pJB8	gridded in microtitre plates  Sau3AI partial
  D		pJB8	gridded on filters  Sau3AI partial
  E		pJB8	EcoK minus  Sau3AI partial
  R		pJB8	RI partial
  M		pJB8	MboI partial
 ZC		pJB8	probed


  K		LoristB	    Sau3AI partial
  T		Lorist2     Sau3AI partial
  W		Lorist4     NotI plus Sau3AI partial
  F1-28		Lorist2     Sau3AI partial
  F29 onwards	Lorist6     Sau3AI partial
 ZK 15- 56	Lorist6     Sau3AI partial   probed
    57-130	Lorist2       "	      " 	"
   131-164	Lorist6       "	      " 	"
   165-177	Lorist2       "	      " 	"
   178-192	Lorist6       "	      " 	"
   193-344	Lorist2       "	      " 	"
   345-354	Lorist6       "	      " 	"
   355-514	Lorist2       "	      " 	"
   515-552	Lorist6       "	      " 	"
   553-596	Lorist2       "	      " 	"
   597-616	Lorist?       "	      " 	"
   617-626	Lorist2       "	      " 	"
   627-692	Lorist6       "	      " 	"
   693-756	Lorist2       "	      " 	"
   757 onwards	Lorist6       "	      " 	"


  Y		pYAC4   RI partial
</pre>

to <a href="TOC.html">Table of Contents</a><p>
</pre>

last edited: July 1994<p>

</BODY>
