<!--  $Id: Cloning.html,v 1.4 1999/04/29 16:16:36 fw Exp $  -->
<head>
<title>Cloning</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Cloning</h2>

Hopefully, this will turn into a full fledged tool to recompute the
physical map and assess its reliability. At present, it does very
little.  This option is not linked in release 1.4<p>

<h3>Select project</h3>

This will look for a binary file
<strong>$ACEDB_DATA/sulston/whatever_you_enter.bnd</strong>.  if it
does not exist the program will try to create it from the ascii file
<strong>$ACEDB_DATA/sulston/whatever_you_enter.cor</strong>, which
should contain the rawdata of the physical map, one integer per
line.<p>

<h3>Histogram</h3>

Plots the histogram of the raw data just read.<p>

<h3>Calcul</h3>

Does nothing interesting yet (jan 1991), sorry.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
