<!--  $Id: Codon_usage.html,v 1.4 1999/04/29 16:16:37 fw Exp $  -->
<head>
<title>Codon_usage</title>
</head>

<BODY BGCOLOR=#ffffff>


<h2>Codon_usage</h2>

This windows gives the codon usage for the sequences of the active
<A HREF="KeySet.html">KeySet</a>.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
