<!--  $Id: Copyright.html,v 1.3 1999/04/29 16:16:38 fw Exp $  -->
<head>
<title>copyright</title>
</head>

<BODY BGCOLOR=#ffffff>

<pre>

    **************************************************************
    ****           acedb: A C. elegans Database               ****
    **** Richard Durbin (Sanger Centre, UK) rd@sanger.ac.uk   ****
    **** Jean Thierry-Mieg (CNRS, France) mieg@kaa.cnrs-mop.fr****
    **************************************************************


  You may redistribute this program and database subject to the
  conditions in the following copyright notice.  Anyone interested in
  maintaining an up to date version should contact one of the authors
  at the above email addresses.

/* Copyright (C) 1991-95 R Durbin and J Thierry-Mieg. All rights reserved.
 * Written by Jean Thierry-Mieg and Richard Durbin, 1990-95.
 * Redistribution and use in source and binary forms are freely
 * permitted provided that the above copyright notice and 
 * attribution and date of work and this paragraph are duplicated 
 * in all such forms and that neither this software nor software
 * based in whole or in part on this software is sold for profit.
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
 * WARRANTIES OF MERCHANTIBILITY AND FITNESS FOR A PARTICULAR 
 * PURPOSE.
 */

</pre>

to <a href="TOC.html">Table of Contents</a><p>

last edited: February 1995<p>

</BODY>
