<!--  $Id: DNA_and_amino_acids_nomenclature.html,v 1.5 1999/04/29 16:16:40 fw Exp $  -->
<head>
<title>DNA_and_amino_acids_nomenclature</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>DNA_and_amino_acids_nomenclature</h2>

<h3>DNA</h3>
<pre>
G       Guanine
A       Adenine 
T       Thymine
C       Cytosine
R       Purine                  A,G
Y       Pyrimidine              T,C
M       Amino                   A,C
K       Ketone                  G,T
S       Strong interaction      C,G
W       Weak interaction        A,T
H       not-G                   A,C,T
B       not-A                   G,C,T
V       not-T                   A,C,G
D       not-C                   A,G,T
N       any                     G,A,T,C
</pre>

<h3>Amino Acids</h3>

Here is a list of the standard one-letter amino acid codes and their
three-letter equivalents.  The synonymous codons and their depiction
in the IUB codes are shown.  You should recognize that the codons
following semicolons (;) are not sufficiently specific to define a
single amino acid even though they represent the best possible back
translation into the IUB codes!  All of the relationships in this list
can be redefined by the user in a local data file described below.<p>

<pre>
mbol 3-letter  Meaning      Codons                Depiction

A    Ala       Alanine      GCT,GCC,GCA,GCG         !GCN
B    Asp,Asn   Aspartic,
               Asparagine   GAT,GAC,AAT,AAC         !RAY
C    Cys       Cysteine     TGT,TGC                 !TGY
D    Asp       Aspartic     GAT,GAC                 !GAY
E    Glu       Glutamic     GAA,GAG                 !GAR
F    Phe     Phenylalanine  TTT,TTC                 !TTY
G    Gly       Glycine      GGT,GGC,GGA,GGG         !GGN
H    His       Histidine    CAT,CAC                 !CAY
I    Ile       Isoleucine   ATT,ATC,ATA             !ATH
K    Lys       Lysine       AAA,AAG                 !AAR
L    Leu       Leucine      TTG,TTA,CTT,CTC,CTA,CTG !TTR,CTN,YTR;YTN
M    Met       Methionine   ATG                     !ATG
N    Asn       Asparagine   AAT,AAC                 !AAY
P    Pro       Proline      CCT,CCC,CCA,CCG         !CCX
Q    Gln       Glutamine    CAA,CAG                 !CAR
R    Arg       Arginine     CGT,CGC,CGA,CGG,AGA,AGG !CGX,AGR,MGR;MGN
S    Ser       Serine       TCT,TCC,TCA,TCG,AGT,AGC !TCX,AGY;WSN
T    Thr       Threonine    ACT,ACC,ACA,ACG         !ACN
V    Val       Valine       GTT,GTC,GTA,GTG         !GTN
W    Trp       Tryptophan   TGG                     !TGG
X    Xxx       Unknown                              !NNN
Y    Tyr       Tyrosine     TAT, TAC                !TAY
Z    Glu,Gln   Glutamic,
               Glutamine    GAA,GAG,CAA,CAG         !SAR
*    End       Terminator   TAA, TAG, TGA           !TAR,TRA;TRR
</pre>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
 
</BODY>
