<!--  $Id: Example_of_a_def_dup_data_file.html,v 1.5 1999/04/29 16:16:41 fw Exp $  -->
<head>
<title>Example_of_a_def_dup_data_file</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Example_of_a_def_dup_data_file</h2>

<blockquote>
Charles Theillet<br>
le 18 septembre 1991<br>
donnees de genetique humaine analysables par acedb
</blockquote>

<pre>
	
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 0 
0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 1 0 0 
0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 0 
0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 1 1 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 1 1 0 1 0 0 0 
0 0 0 0 1 0 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 1 0 0 0 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 

</pre>

<h3>Blocks</h3>

These blocks are ordered left to right in the present code:<p>

0,2<br>
12,18<p>

<h3>Order</h3>
0,2,3,11<br>
3,11,12,18<br>
12,18,19,23 <p>


to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
</BODY>
