<!--  $Id: File_Chooser.html,v 1.4 1999/04/29 16:16:42 fw Exp $  -->
<head>
<title>File_Chooser</title>
</head>

<BODY BGCOLOR=#ffffff>


<h2>File_Chooser</h2>

Interactive File Chooser. You can type a directory name in the top box
and a file template in the second and third box. Or double-click on a
file in the current list which appears underneath.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
