<!--  $Id: Gel-Patterns.html,v 1.4 1999/04/29 16:16:44 fw Exp $  -->
<head>
<title>Gel-Patterns</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Gel-Patterns</h2>

This display will show and compare gel patterns entered into acedb as
band sizes or migration distances. A related display (<A
HREF="Agarose-Gels.html">Agarose-Gels</a>) will display simulated
patterns using a known sequence.<p>

The display is activated by clicking on the "Gel" tag in a 
text window as long as the tag is followed by the appropriate
data. The Gel tag can appear in any class.<p>


<h3>Zooming</h3>

The Zooming works as in the genetic map. It is controlled by the 3
buttons, whole (for when you are lost!), zoom in, zoom out, and the
middle mouse button: to recentre slowly if the mouse is right of the
scale bar, or recenter fast and zoom continuously by dragging the mid
button starting left of the scale bar.<p>

<h3>Active Lane</h3>

Pick with the mouse in the center of the graph, the name of the active
lane will color.<p>

<h3>Remove Clone</h3>

Removes the active clone<p>

<h3>Add Clone</h3>

Adds in the display objects that you can pick anywhere in acedb untill
you kill the message window. A single object will only be displayed
once.<p>

<h3>Add KeySet</h3>

Import all the Lanes associated with all the objects of the active
keyset<p>

<h3>Switch</h3>

Allows to reposition the lanes Click pairs of lanes in
succession. Works untill you kill the message.<p>

<h3>Intersect</h3>

Click a succession of lanes, the common bands turn RED, when no common
band remains, the coloring reinitialises.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
</BODY>
