<!--  $Id: Genetics.html,v 1.4 1999/04/29 16:16:45 fw Exp $  -->
<head>
<title>Genetics</title>
</head>

<BODY BGCOLOR=#ffffff>


<h2>Genetics</h2>

A tool to compute the genetic map.  Still in embryonic form, sorry.
Not linked in release 1.4<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
