<!--  $Id: Help.html,v 1.4 1999/04/29 16:16:47 fw Exp $  -->
<head>
<title>Help</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Help on Help</h2>

Online Help is context-sensitive and can be associated with displays,
classes, tags, or fields. ACEDB first attempts to display help in
Mosaic, a public domain program developed by the National Center for
Supercomputing Applications. If Mosaic is not found then an ACEDB
window is used instead.<p>

You may want to experiment with Mosaic's font settings ("Options"
menu). "Lucida Bright Small" works well for many users.<p>

<h3>To obtain help</h3>

<ul>

<li><strong>for a display</strong>: Select the <strong>Help</strong>
option in the pop-up menu available in every ACEDB window. The window
may also contain a <strong>Help button</strong>.<p>

<li><strong>for a tag or data item in a <A HREF="Tree.html">Text
window</a> (Tree display)</strong>: Select an item by clicking on it
once, then choose <strong>Help</strong> in the pop-up menu. ACEDB will
display help on your selection. If the item is undocumented, ACEDB
will trace the branch of the object back to its root and display help
for the first documented item it finds. In general ACEDB tests for
the presence of:<p>

<ul>
<li>help for tags to the left and above original selection
<li>help for the class itself
<li>help for the display, in this case a Text window
<li><A HREF="acedb.html">general ACEDB help</a> (available from
the Main Window).

</ul>
</ul>

Note that the F1, F10 or Help key invoke help as well. Some of
these keys may not work on some machines, but one should.<p>

<h3>Mosaic, hypertext, and help files</h3>

Mosaic is a tool for viewing hypertext documents and has become
popular for viewing information on the World Wide Web. However, ACEDB
help does not require a network connection as all required information
is provided with your copy of the database.<p>

ACEDB uses the script $ACEDB/wscripts/Mosaic.csh to find and start
Mosaic the first time you ask for help. Subsequent help texts will be
displayed in the same Mosaic window.<p>

Each help text is a single file in the directory $ACEDB/whelp.  Some
help files are supplied as part of the standard ACEDB distribution and
describe how to use the software. Others are added by data curators
and are database-specific. If ACEDB "asks" for a file but it is
missing, the fallback mechanism discussed above is used.<p>

Help files are also connected to each other via hypertext links and
are listed in the Table of Contents.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
</BODY>
