<!--  $Id: Linear_correlation.html,v 1.4 1999/04/29 16:16:51 fw Exp $  -->
<head>
<title>Linear_correlation</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Linear_correlation</h2>

A small utility to compute and plot a linear regression
The prototype is:<p>

<pre>
typedef struct point {double x, y ;} Point ;
void plotCorrel(char *title, Array a)
</pre>


<h3>Menu items:</h3>

<ul>

<li><strong>Print</strong>: prepares a Post Script file in ./PS
(correl#.PS) which you can then print on your local laser printer.<p>

<li><strong>Statistics</strong>: Not yet available. Sorry.  Should
hopefully give likelihoods of the regression.

</ul>

to <a href="TOC.html">Table of Contents</a><p>
</pre>

</BODY>
