<!--  $Id: Long-Text.html,v 1.4 1999/04/29 16:16:52 fw Exp $  -->
<head>
<title>Long-Text</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Long-Text</h2>

A simple tool to store and display texts longer than a few lines.<p>

The search button will highlight all the words matching the name of
objects that are members of the classes listed in
<strong>searchedClasses</strong>, itself a member of the KeySet
class. The highlighted words are hypertext.<p>

Edit invokes wscripts/acedb.editor, which by default launches emacs.
Edit that file to start another editor in its place.<p>

Save will recover from the emacs but will not destroy it.<p>

Read will read a text file, so you could Search it.<p>

general grep is a way to annotate a set of longtexts versus the
searchedClasses. It outputs an ace file that you can then hand check
and read back in acedb to create XREF from longTexts to genes etc.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
