<!--  $Id: Make_maps.html,v 1.4 1999/04/29 16:16:53 fw Exp $  -->
<head>
<title>Make_maps</title>
</head>


<BODY BGCOLOR=#ffffff>

<h2>Make_maps (Align)</h2>

The idea is to establish a correspondance between the genetic map and
the physical map. This is used later to jump between maps by
continuous interpolation between the cloned genes. This function
should be run whenever the genetic map, the clone map or the amount of
known sequences have changed appreciably.<p>

<h3>Menu items:</h3>

<ul>

<li><strong>Quit</strong>: quits the window.

<li><strong>Help</strong>: brings up this help.

<li><strong>Print</strong>: prepares a Post Script file in
./PS which you can then print on your local laser printer.

<li><strong>Make pMaps</strong>: recalculates the display of all the
contigs for future fast access.

<li><strong>Make gMaps</strong>: recalculates the display of all the
chromosomes for future fast access.

<li><strong>Align contigs</strong>: tries to align the contigs on the
chromosomes and report inconsistencies.

<li><strong>Bump contigs</strong>: bumps them for a nicer, not
necessarilly more accurate, display.

</ul>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
</BODY>
