<!--  $Id: No_help.html,v 1.4 1999/04/29 16:16:55 fw Exp $  -->
<head>
<title>No_help</title>
</head>

<!-- Default help page for an Acedb display that hasn't been declared in wspec/displays.wrm -->

<BODY BGCOLOR=#ffffff>

<h2>No_help</h2>

No help is available for the display or item you selected.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
