<!--  $Id: Official_Update.html,v 1.4 1999/04/29 16:16:58 fw Exp $  -->
<head>
<title>Official_Update</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Official_Update</h2>

You must have write access, i.e. your login name must be listed in
the file $ACEDB/wspec/passwd.wrm to run this function.<p>

The one functional button is <strong>"Next Update"</strong>, which
adds the next official update if it is in $ACEDB_DATA, or if that is
not defined, in $ACEDB/rawdata.<p>

A record of what is going on will appear in the window.  If the
system runs out of space in its disk file it will ask you for more.
You can add several updates in a row if you have them.  If there are
any problems then you will be thrown out of the whole program, with
an error message.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>
</BODY>
