<!-- $Id: OSP.html,v 1.3 1999/04/29 16:16:56 fw Exp $ -->
<head>
<title>OSP</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>OSP</h2>

OSP: <strong>Oligo Selection Program </strong> is a program by
Ladeana Hillier and Phil Green to select oligos and score
them in prevision of PCR experiments.
<p>
OSP and its documnetation are available from ftp.wustl.edu
The program must be installed or recompiled and the osp
executable should be in your path, possibly as /usr/local/bin/osp
<p>
The present program provides a graphci interface to OSP
and a link to acedb.
<p>
<p>
Publications exist for OSP...see:
<p>
Hillier, L. and Green, P. (1991). "OSP: A computer program for choosing
PCR and DNA Sequencing Primers," PCR Methods and Applications, 1, 124-128.
<p>
Gleeson, T. and Hillier, L. (1991). "A trace display and editing program
for data from fluorescence based sequencing machines," Nucleic Acids Res.,
23, 6481-6483.
<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: Nov 1996<p>

</BODY>
