<!--  $Id: Physical_map_calculation.html,v 1.4 1999/04/29 16:17:00 fw Exp $  -->
<head>
<title>Physical_map_calculation</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Physical_map_calculation</h2>

This program tries to analyse the clone map, also called physical map
It is quite primitive and not linked in distribution 1.4.<p>


<h3>Menu items:</h3>

<ul>

<li><strong>Quit</strong>: quits the window.

<li><strong>Help</strong>: brings up this help.

<li><strong>Print</strong>: brings up the print window.

</ul>

<strong>Make pMaps</strong> should be used to recalculate the contigs
after updating the clones.<p>

<strong>Align</strong> is itself a subprogram.<p>

The other buttons as a whole make a program and should be used
in sequence.<p>


to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
