<!--  $Id: Preferences.html,v 1.3 1999/04/29 16:17:00 fw Exp $  -->
<head>
<title>Preferences</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Preferences</H1>


to be written.<P>

to <a href="TOC.html">Table of Contents</a><p>

</BODY>
