<!--  $Id: Read_files.html,v 1.4 1999/04/29 16:17:04 fw Exp $  -->
<head>
<title>Read_files</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>Read_files (the .ace file parser)</h2>

<h3>Menu items:</h3>

<ul>

<li><strong>Quit</strong>: quits the window.

<li><strong>Help</strong>: brings up this help.

<li><strong>Print</strong>: You could print the window's content (if you wanted to...)

</ul>

<h3>Buttons</h3>

<ul>

<li><strong>Open File</strong>: allows you to choose any file with
ending .ace.  It opens up a <A HREF="File_Chooser.html">File
Chooser</a> window.  Double click a file to parse it or use the
keyboard to edit the name of the directory.  You get those files of
the directory ending with .ace or the content of acemenu.wrm if such a
file exists in that directory (useful for automatic redirection to
subdirectories).

<li><strong>Read all (hit key F4 to break in)</strong>: Reads the
whole file or until you type F4 to interrupt.

<li><strong>Read one item</strong>: Reads the next object, i.e. until
the next empty line.

<li><strong>Read one line</strong>: Reads just a single line, usually
the value of a tag

<li><strong>Skip to next item</strong>: skips to the next object.

</ul>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
