<!--  $Id: Set_Update.html,v 1.4 1999/04/29 16:17:05 fw Exp $  -->
<head>
<title>Set_Update</title>
</head>

<h2>Set_Update</h2>

<BODY BGCOLOR=#ffffff>

without waranty from mieg/rd. Please email detlef for additional info
and complaints.<p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
