<!--  $Id: Table_Maker_Data.html,v 1.4 1999/04/29 16:17:08 fw Exp $  -->
<head>
<title>Table_Maker_Data</title>
</head>

<BODY BGCOLOR=#ffffff>

<h2>TableMaker: Data Window</h2>

Displays results for applying a <A HREF="Table_Maker.html">TableMaker
definition</a>.<p>

<h3>Menu items and Buttons in the Data Window</h3>

<ul>

<li><strong>Edit</strong>: Click on this button to invoke editing mode
(button turns blue). Then double-click any item in the data display if
you want to change its value. If you pick an object, you will be
alerted if you attempt to enter a name that is not
recognized. <strong>Warning</strong>: if you have taken write access
you can modify data in the database. Otherwise you alter only the data
display.

<li><strong>Quit</strong>: destroys the window.

<li><strong>Help</strong>: displays this help page.

<li><strong>Print</strong>: prepares a Post Script file in $ACEDB/PS
which you can print to your local laser printer.

<li><strong>Switch</strong>: First touch an element in some column,
then press Switch, this will exchange the active column with the one
immediately to its right. At the same time, the lines are reordered so
that they always reamain in alphanumerical order left to right. By
Putting the genes left of their position, you get them in alphabetic
order, by putting first the chromosome, then the position, then the
gene, you get them in genetic map order.

<li><strong>Export KeySet</strong>: Exports the active column to a new
<A HREF="KeySet.html">KeySet window</a> if it contains keys.

<li><strong>Define Table</strong>: Returns to the TableMaker <A
HREF="Table_Maker.html">definition window</a>.

<li><strong>Map</strong>: Construct a <A
HREF="Multi_Map.html">MultiMap</a> based on the visible numerical
columns.

<li><strong>Ascii Dump</strong>: Dump the table in Ascii format.
You can choose any single character as a column delimiter.

<li><strong>Import Active Keyset</strong>: will apply the table definition to the active KeySet and display the result. This overwrites
the original contents in the data display window.

<li><strong>Reset Table Display</strong>: redraws display.

</ul>


to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
