<!--  $Id: Tree_Paper.html,v 1.3 1999/04/29 16:02:01 fw Exp $  -->
<!-- This help page is opened up by the Tree display if a -->
<!-- Paper object is displayed -->

<head>
<title>Tree Display : Class "Paper"</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Tree Display : Class "Paper"</H1>

This is help for the ?Paper class. (to be written...)<p>




to <a href="Tree.html">General help on the Tree Display</a><p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
