<!--  $Id: Tree_Clone_Inside.html,v 1.4 1999/04/29 16:01:58 fw Exp $  -->
<!-- This help page is opened up by the Tree display if a -->
<!-- Clone object is displayed and the tag Inside is selected -->

<head>
<title>Tree Display : Class "Clone" : Tag "Inside"</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Tree Display : Class "Clone" : Tag "Inside"</H1>

here is help for the tag Inside in 
<A HREF="Tree_Clone.html">Class Clone</A>
<P>(to be written...)<p>




to <a href="Tree.html">General help on the Tree Display</a><p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
