<!--  $Id: Tree_Clone.html,v 1.4 1999/04/29 16:01:57 fw Exp $  -->
<!-- This help page is opened up by the Tree display if a -->
<!-- Clone object is displayed -->

<head>
<title>Tree Display : Class "Clone"</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Tree Display : Class "Clone"</H1>

This is help for the ?Clone class. (to be written...)<p>




to <a href="Tree.html">General help on the Tree Display</a><p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
