<!--  $Id: Tree_Clone_Map.html,v 1.4 1999/04/29 16:02:00 fw Exp $  -->
<!-- This help page is opened up by the Tree display if a -->
<!-- Clone object is displayed and the tag Map is selected -->

<head>
<title>Tree Display : Class "Clone" : Tag "Map"</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Tree Display : Class "Clone" : Tag "Map"</H1>

here is help for the tag Map in 
<A HREF="Tree_Clone.html">Class Clone</A>
<P>(to be written...)<p>






to <a href="Tree.html">General help on the Tree Display</a><p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
