<!--  $Id: Tree_Paper_Page.html,v 1.3 1999/04/29 16:02:02 fw Exp $  -->
<!-- This help page is opened up by the Tree display if a -->
<!-- Paper object is displayed and the tag Page is selected -->

<head>
<title>Tree Display : Class "Paper" : Tag "Page"</title>
</head>

<BODY BGCOLOR=#ffffff>

<H1>Tree Display : Class "Paper" : Tag "Page"</H1>

here is help for the tag Page in 
<A HREF="Tree_Paper.html">Class Paper</A>
<P>(to be written...)<p>






to <a href="Tree.html">General help on the Tree Display</a><p>

to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
