<!--  $Id: Update.html,v 1.4 1999/04/29 15:30:18 fw Exp $  -->
<head>
<title>Update</title>
</head>
<BODY BGCOLOR=#ffffff>

<h2>Update</h2>


Lets you alter and modify any text object.  You must have acquired
write access for it to work. Double click on anything to add/change.
Objects in blue are part of the model, i.e. new things that you could
add.  If you double click on part of the exisiting object you will be
able to edit it. <p>

If you want to enter an object name then you have a number of
options.  You can double click on the object name in another window
if you have it displayed.  Alternatively you can type in the name of
the object.  If you type in a partial name and hit the TAB key then
a list of possible completions will be given in the Main Selection
Window, and your entry in the update window will be automatically
completed up to the first ambiguous letter.  In particular if there
is a unique existing completion then it will be expanded in full.<p>

an Update window can also be invoked from the "Edit" function in the
<A HREF="Add_New_Objects.html">"Add/Delete/Rename/Alias"</a> display.

<h3>Menu items:</h3>

<ul>

<li><strong>Quit</strong>: destroys the Update window. You will be asked
  whether you want to commit the object to the database (see "Save").

<li><strong>Help</strong>: displays this help page.

<li><strong>Save</strong>: commits the updated object to the database. 
        From then on, the new values will be used in the
        current session. The changes will become permanent only
        if you also Save the session from the Acedb main window.

<li><strong>Add comment</strong>:  let you add a comment anywhere in a 
        an object, irrespectively of the model. You can even attach your
        comment to the third number of a list of five. The comment
        will be lost if the entry it is attached to is deleted.

<li><strong>Cancel</strong>: Cancel the current command (Add, Edit, or Add Comment).
        
<li><strong>Delete</strong>: Deletes the selected entry (tag, data or object - pick it
        first) and anything to the right of it.  You can delete
        whole subtrees.

<li><strong>Edit</strong>: lets you edit an exisiting entry (equivalent to just double
        clicking on it).

</ul>


to <a href="TOC.html">Table of Contents</a><p>

last edited: April 1999<p>

</BODY>
