<!--  $Id: Useful_sequences.html,v 1.4 1999/04/29 16:17:11 fw Exp $  -->
<head>
<title>Useful_sequences</title>
</head>
<BODY BGCOLOR=#ffffff>

<h2>Useful sequences</h2>

Trans splices leaders:<p>
<pre>
	 SL1 = "ggtttaattacccaagtttgag" ;
         SL2 = "ggttttaacccagttactcaag" ;
</pre>

to <a href="TOC.html">Table of Contents</a><p>

last edited: July 1994<p>

</BODY>
